/*.sign_in_form{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sign_in_form input{
  display: block;
  padding: 5px;
  border: 1px gray solid;
  border-radius: 3px;
  margin-top: 15px;
}
.sign_in_form h1{
  font-size: 18px;
  text-align: center;
}
.sign_in_form form{
  padding: 50px 15px;
  border: 2px gray solid;
  border-radius: 3px;
}
*/

.login_main_wrap {
  max-width: 600px;
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 95px;
}
.sign_in_form {
  background-color: #f8f8f8;
  border-radius: 12px;
  padding: 35px 35px;
  margin-top: 25px;
  width: 100%;
  box-shadow: 0px 3px 10px 2px rgba(0,0,0,.2);
}

.login_main_wrap h1 {
  font-size: 26px;
  line-height: 40px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 30px;
}
.errorMessage{color:#ff0f0f; text-align: center;}
.input_box {
  margin-bottom: 37px;
}
input.input_txt {
  font-size: 15px;
  color: #212121;
  line-height: 1.2;
  display: block;
  height: 45px;
  background: 0 0;
  padding: 0;
  outline: none;
  border: none;
  width: 100%;
  position: relative;
  border-bottom: 2px solid #adadad;  
}
.btn_login {
  display: inline-flex;
  height: 40px;
  margin: 0;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  text-align: center;
  border: 0;
  background: var(--black);
  color: var(--white);
  text-decoration: none;
  position: relative;
  cursor: pointer;
  padding: 8px 20px;    min-width: 170px;

}
.btn_login:hover {
  color: var(--white);
  background: var(--gray-600);
  text-decoration: none;
}
.error {
  color: red;
  font-size: 13px;
  margin-top: 4px;
}
