/* listing */
.listing_pageContainer {
	float: left;
    width: 100%;
    margin: 10px 0 50px;
}
.listing_grid_wrapper { 
	display: grid;
    grid-template-columns: repeat(auto-fill,minmax(376px,1fr));
    grid-gap: 14px;
}
.listing_gridItem {
	position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
	flex-flow: wrap;
	padding: 0 0 0 15px;
}
.listing_grid_profile_title{
	text-align: left;
    font-size: 26px;
    font-weight: 600;
    line-height: 31px;
    margin: 0 0 10px 0;
    padding: 0;
	color: var(--black-500);
	max-width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;	
}

.listing_grid_content_disc {
	font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    margin: 0 0 10px 0;
    padding: 0;
    color: var(--black-500);
    text-align: left;
	display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;	
}

.listing_gridItem > a {
	display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.listing_grid_img_col {
	position: relative;
    width: 100%;
	height: 240px;
    overflow: hidden;
	background-color: #fff;border-top-right-radius: 8px; border-top-left-radius: 8px;
}
.listing_grid_img_col a {
	display: inline-block;
	width: 100%;
    height: 100%;
}
.listing_grid_img_col img {
	height: 100%!important;
    object-fit: cover;
}
.listing_grid_content_wrap {
	margin-top: 0;
    padding: 16px 15px 16px 15px;
    align-items: center;
    border-top: 0;
    background: var(--gray-light-150);
    border-radius: 0px 0px 8px 8px;
    position: relative;
    display: flex;
    flex-flow: wrap;
    width: 100%;	
    height: calc(100% - 240px);
	min-height: 240px
}
.listing_grid_brand {
	position: absolute;
	left: 16px;
	bottom: 16px;
	display: flex;
	padding: 6px 16px;
	justify-content: center;
	align-items: center;
	border-radius: 124px;
	background: #FFF;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}
a.link_with_arrow {
    display: inline-flex;
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    text-align: center;
    border: 0;
    color: #212121;
    text-decoration: none;
    position: relative;
    cursor: pointer;
}

/* responsive */
@media screen and (max-width: 767px) {
	.listing_grid_profile_title {		
		font-size: 22px;
		line-height: 26px;	
	}
    .listing_grid_content_disc {
        font-size: 14px;
        line-height: 21px;	
    }
    a.link_with_arrow {       
        font-size: 14px;
        line-height: 21px;
    }
    .listing_grid_content_wrap {       
        min-height: 215px
    }
}
@media screen and (max-width: 600px) {
	.listing_gridItem {		
		padding: 0px;
	}
}