.request_filter_grid {
  width: 290px;
  height: 72px;
}
.request_filter_col {
  padding: 0;
  margin: 0;
  display: flex;
  grid-gap: 10px;
  flex-flow: wrap;
  position: relative;
  margin-top: 20px;
}

@media screen and (max-width: 844px) {
  .request_filter_grid {
    width: 100%;
  }
  .request_filter_col {
    display: grid;
  }
}
