.threeColumnBlock {
  float: left;
  width: 33.33%;
  padding-right: 45px;
}

@media screen and (max-width: 991px) {
  .threeColumnBlock {
    width: 100%;
    margin-bottom: 15px;
    padding-right: 0px;

  }
}
