.nav_block.db_navigation ul.main_nav {
  margin-top: 0;
  display: inline-flex;
  align-items: center;
  gap: 51px;
}

.nav_block.db_navigation ul.main_nav>li {
  margin: 0;
  padding: 0 13px;
}

.nav_block.db_navigation ul.main_nav>li>a {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #666;
}

.nav_block.db_navigation ul.main_nav>li.active {
  border-bottom: 3px solid #e1e4e8;
}

.nav_block.db_navigation ul.main_nav>li.active>a {
  color: #212121;
  font-weight: 600;
}

header.db_header_wrap {
  position: relative;
}

.header_dashboard {
  width: 100%;
  padding: 0;
  display: flex;
  align-items: flex-end;
  margin: 0;
  justify-content: space-between;
}

.header_dashboard .header_logo_nav {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 10px;
}

.header_dashboard .header_logo {
  margin-top: 0;
  margin-right: 20px;
}

.header_db_title {
  display: flex;
  align-items: center;
}

.header_db_title h4 {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  margin: 0;
  color: #212121;
}

.header_db_title_logo {
  margin-top: 5px;
}

.header_db_title_logo h6 {
  font-size: 16px;
  font-weight: 400;
  line-height: 17px;
  margin: 0;
  color: #212121;
}

.header_dashboard .header_right {
  padding-top: 15px;
  padding-bottom: 15px;
}

.header_dashboard .nav_btn_toggle {
  margin-left: 10px;
  margin-top: 4px;
}

.db_user_profile a {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #212121;
  display: flex;
  align-items: center;
}

.db_user_profile a>span {
  margin-right: 20px;
  display: inline-block;
}

.db_user_profile a>img {
  border-radius: 40px;
  height: 100%;
  width: 100%;
  max-width: 40px;
  max-height: 40px;
}

.db_customer_detail_wrap {
  padding: 0;
}

.db_full_block {
  display: flex;
  flex-flow: nowrap;
  align-items: flex-start;
  gap: 16px;
  padding: 0 20px 20px 20px;
  align-items: stretch;
}

.db_list_drop_down {
  display: flex;
}

.btn_selection {
  display: inline-flex;
  height: 37px;
  padding: 16px 8px;
  margin-right: 16px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 600;
  text-align: center;
  border: 1px solid var(--gray-light-300);
  background: var(--white);
  color: var(--black-450);
  text-decoration: none;
  position: relative;
  cursor: pointer;
}

.filter_month_selection {
  display: inline-flex;
  height: 38px;
  padding: 16px 8px;
  border-radius: 8px;
  font-size: 14px;
  color: #212121;
  line-height: 21px;
  font-weight: 600;
  border: 1px solid var(--gray-light-300);
  background: var(--white);
  color: var(--black-450);
  text-decoration: none;
  position: relative;
  cursor: pointer;
}

.btn_style {
  font-weight: 400;
  color: #212121;
}

.db_text {
  border-width: 0;
}

.db_selection_wrapper {
  flex-direction: row;
  display: flex;
  width: auto;
  margin-left: 16px;
  margin-bottom: 20px;
  justify-content: flex-end;
}

.db_card {
  border: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  border-radius: 10px;
  flex: 1 0;
  padding: 0;
  margin: 0 0 20px 0;
  height: calc(100% - 20px);
}

.db_customer_rqst_data {
  margin-bottom: 18px;
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  grid-column-gap: 17px;
  grid-row-gap: 18px;
}

.db_card_wrapper {
  border: 1px solid #E7E7E7;
  position: relative;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  border-radius: 8px;
  flex: none;
  padding: 0;
  margin: 0;
}

.db_card_icon_wrapper {
  height: 46px;
  width: 46px;
  border-radius: 31px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.db_count_text {
  font-size: 26px;
  font-weight: 700;
  margin-top: 23px;
  line-height: 31px;
}

.db_card_margin_between {
  margin: 17px
}

.db_card_body {
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  min-height: 124px;
}

.db_card_conversion_percent_text {
  font-size: 14px;
  line-height: 31.2px;
  font-weight: 500;
  color: #45CB85;
  margin-right: 5px;
}

.db_card_title_text {
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  color: #666;
}

.db_card_body h4 {
  padding: 0 15px 0 0;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #212121;
}

.db_card_body p {
  padding: 0;
  margin: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #989898;
}

.db_card_body h2 {
  padding: 0;
  margin: 0;
  font-size: 32px;
  font-weight: 600;
  line-height: 38px;
  color: #212121;
}

.db_card_body h3 {
  padding: 0;
  margin: 0;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  color: #212121;
}

.db_icon_cal {
  padding: 8px;
  border-radius: 4px;
  background: #f2f5f6;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.db_card_animate {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.db_card_animate:hover {
  -webkit-transform: translateY(calc(-1.5rem / 5));
  transform: translateY(calc(-1.5rem / 5));
}

.db_card_body .db_btn_chart {
  position: absolute;
  right: 0;
}

.db_btn_chart input {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #eaeaea;
  padding: 10px 9px;
  color: #000;
  font-size: 15px;
  max-width: 111px;
}

.db_btn_chart a {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  padding: 8px 16px;
  color: #212121;
}

.db_piechart_legend {
  display: inline-flex;
  align-items: flex-start;
  gap: 40px;
}

.db_piechart_legend_marker {
  min-width: 16px;
  min-height: 16px;
  border-radius: 4px;
}

.db_piechart_legend_col {
  display: flex;
  gap: 8px;
  align-items: center;
}

.db_piechart_legend_text {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.db_piechart_payment {
  display: inline-flex;
  align-items: flex-start;
  gap: 40px;
  width: 100%;
}

.db_piechart_payment_col {
  display: flex;
  gap: 1px;
  flex-direction: column;
  flex: 1 0;
}

.db_piechart_payment_marker {
  min-width: 16px;
  min-height: 16px;
  border-radius: 4px;
}

.db_piechart_payment_text {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}

.db_piechart_payment_col h2 {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  padding-left: 24px;
}

.db_table_block {
  width: 100%;
}

.db_table_block table.table thead th {
  background-color: #f2f5f6;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 24px;
  text-align: center;
  font-size: 14.208px;
  font-weight: 400;
  color: #666;
  border: 0;
}

.db_table_block table.table thead th.main_head_title {
  padding-left: 45px;
  text-align: left;
}

.db_table_block table.table tbody th.main_col_title {
  padding-top: 20px;
  padding-bottom: 25px;
  padding-right: 24px;
  padding-left: 45px;
  text-align: left;
  font-size: 14.208px;
  font-weight: 400;
  color: #989898;
  background: #fff;
  box-shadow: none;
  border: 0;
}

.db_table_block table.table tbody td {
  padding-top: 20px;
  padding-bottom: 25px;
  padding-right: 24px;
  text-align: center;
  font-size: 14.208px;
  font-weight: 400;
  color: #212121;
  background: #fff;
  box-shadow: none;
  border: 0;
}

.db_col_block {
  display: flex;
  flex-direction: column;
  flex: 1 0;
  gap: 16px;
}

.datepicker_input {
  position: absolute;
  background-color: "#BAB1E8";
  width: 30px;
  height: 30px;
  right: 0;
  top: -20px;
  opacity: 0;
  cursor: pointer;
}

.gloabl-inp {
  pointer-events: none;
  cursor: not-allowed;
}

.datePicker {
  z-index: 999 !important;
}

.chart_Box {
  width: 225px;
  max-width: 100%;
}

.not_Found {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header_dashboard .offcanvas {
  padding: 50px 15px 15px;
  max-width: 633px;
  width: 100%;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
  border: 0;
}

.header_dashboard .offcanvas button.btn-close {
  position: absolute;
  right: 15px;
  top: 0;
  cursor: pointer;
  float: right;
  width: auto;
  height: auto;
  padding: 0;
  margin: 0;
  background: none;
  opacity: 1;
}

.header_dashboard .offcanvas button.btn-close:focus {
  outline: none;
  box-shadow: none;
}

.header_dashboard .offcanvas .offcanvas-header {
  display: inline-block;
  padding: 0;
  margin: 0;
  width: 100%;
}

.header_dashboard .offcanvas .offcanvas-body {
  padding: 0;
}

.header_dashboard .offcanvas .nav_block {
  padding: 0 10%;
  width: 100%;
  display: block;
}

.header_dashboard .offcanvas .nav_block ul.main_nav {
  display: inline-block;
  width: 100%;
  list-style-type: none;
  text-align: left;
  padding: 0;
}

.header_dashboard .offcanvas .nav_block ul.main_nav li {
  display: block;
  list-style-type: none;
  text-align: left;
  padding: 14px 0;
  margin: 0 0 15px 0;
}

.header_dashboard .offcanvas .nav_block ul.main_nav>li.active {
  border-bottom: 3px solid #e1e4e8;
}

.header_dashboard .offcanvas .nav_block ul.main_nav li a {
  font-size: 36px;
  line-height: 37px;
  color: #000;
  font-weight: 600;
}

.header_dashboard .offcanvas .nav_block ul.main_nav>li.active a {
  color: #212121;
}

.db_customer_detail_wrap .db_icon_cal .DatePicker input.datepicker_input {
  width: 24px;
  height: 24px;
  padding: 0;
  margin: 0;
  top: 0;
  border: 0;
  position: relative;
}

.db_customer_detail_wrap .db_icon_cal .DatePicker {
  position: absolute;
  width: 24px;
  height: 24px;
  z-index: 2;
  left: 8px;
}

/* .db_customer_detail_wrap .db_icon_cal {
  position: absolute;
  right: 16px;
  top: 16px;
} */

.header_dashboard .offcanvas-backdrop {
  display: none;
}

.spinner-border {
  margin-left: 11px;
}

.btn_login {
  display: inline-flex;
  height: 40px;
  margin: 0;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  text-align: center;
  border: 0;
  background: var(--black);
  color: var(--white);
  text-decoration: none;
  position: relative;
  cursor: pointer;
  padding: 8px 20px;
  min-width: 170px;
}

.btn_login:hover {
  color: var(--white);
  background: var(--gray-600);
  text-decoration: none;
}

.db_table_country {
  max-height: 400px;
  overflow-y: auto;
}

.db_table_block.db_table_country table.table tbody td {
  padding-left: 45px;
  text-align: left;
}

.offcanvas-open {
  overflow: unset !important;
}

.iconWrapper {
  display: flex;
  gap: 8px;
  position: relative;
}

.db_table_block table.table tbody .conversion-highlighter th.main_col_title,
.db_table_block table.table tbody .conversion-highlighter td {
  font-weight: 700;
  border-bottom: 1px solid var(--gray-light-300);
}

.db_table_block table.table tbody .conversion-highlighter th.main_col_title {
  color: var(--black-150)
}

.multiselect-container .search-wrapper {
  height: 45px;
  overflow-y: auto
}

.multiselect-container .search-wrapper input.searchBox {
  margin-top: 0;
}

.db_customer_rqst_type {
  flex-direction: row;
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.db_customer_conversion_rate {
  align-items: center;
  justify-content: center;
}

.db_calendar_min_width {
  width: 98px
}

.db_calendar_max_width {
  width: 220px;
}

.db_filter_data_comp {
  margin-right: 0;
}

.db_filter_data_comp button.btn_selection {
  margin-right: 11px;
  padding: 5px 13px;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  height: 38px;
}

.db_filter_data_comp button.btn_selection:hover {
  border-color: hsl(0, 0%, 70%);
}

.db_filter_data_comp .DatePicker {
  position: relative;
}

.db_filter_data_comp .DatePicker:after {
  content: "";
  position: absolute;
  right: 8px;
  top: 8px;
  width: 20px;
  height: 20px;
  background-image: url(/arrow-down-dark.svg);
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.6;
}

.db_filter_data_comp input.DatePicker__input {
  display: inline-flex;
  align-items: flex-start;
  border-radius: 8px;
  text-align: left;
  border: 1px solid var(--gray-light-300);
  background: var(--white);
  color: #000;
  text-decoration: none;
  position: relative;
  cursor: pointer;
  margin-right: 0;
  padding: 5px 35px 5px 13px;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  height: 38px;
  min-width: 85px;
}

.db_filter_data_comp input.DatePicker__input::placeholder {
  color: #000;
  opacity: 1;
}

@media screen and (max-width: 1199px) {
  .header_dashboard .nav_block.db_navigation {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .header_dashboard .nav_btn_toggle {
    display: none;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  header .nav_block {
    display: inline-block;
  }
}

@media screen and (min-width: 640px) and (max-width: 1024px) {
  .db_customer_rqst_data {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media screen and (min-width: 440px) and (max-width: 639px) {
  .db_customer_rqst_data {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media screen and (max-width: 439px) {
  .db_customer_rqst_data {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

@media screen and (max-width: 767.98px) {
  .header_dashboard {
    align-items: center;
  }

  .header_db_title h4 {
    font-size: 17px;
    line-height: 24px;
  }

  .db_customer_detail_wrap {
    padding: 0;
  }

  .header_dashboard .offcanvas .nav_block ul.main_nav li {
    padding: 14px 0;
    margin: 0 0 15px 0;
  }

  .header_dashboard .offcanvas .nav_block ul.main_nav li a {
    font-size: 24px;
    line-height: 24px;
  }

  .header_dashboard .offcanvas button.btn-close img {
    width: 24px;
    height: 24px;
  }

  .header_dashboard .offcanvas button.btn-close {
    right: 15px;
    top: 15px;
  }

  .header_dashboard .offcanvas .nav_block {
    padding: 0 5%;
  }

  .header_dashboard .offcanvas {
    width: 100%;
    max-width: 100%;
  }
}

@media screen and (max-width: 699px) {
  .not_Found {
    position: relative;
    text-align: center;
    top: 0;
    left: 0;
    transform: inherit;
  }
}

@media screen and (max-width: 640px) {
  .m_flex_wrap_xs {
    flex-wrap: wrap !important;
  }

  .m_pt_10_xs {
    padding-top: 10px !important;
  }
}

@media screen and (max-width: 560px) {
  .header_dashboard .header_right .db_user_profile {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .header_dashboard .header_right .db_user_profile>span {
    margin-bottom: 5px;
  }

  .header_dashboard .db_user_profile button.btn_secondary {
    padding-left: 10px;
    padding-right: 10px;
    height: 36px;
    font-size: 14px;
    margin-left: 0 !important;
    width: 100px;
  }
}

@media screen and (max-width: 460px) {
  .db_piechart_payment {
    flex-direction: column;
  }
}