.nav_block.db_navigation ul.main_nav {
  margin-top: 0;
  display: inline-flex;
  align-items: center;
  gap: 51px;
}

.nav_block.db_navigation ul.main_nav > li {
  margin: 0;
  padding: 0 13px;
}

.nav_block.db_navigation ul.main_nav > li > a {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #666;
}

.nav_block.db_navigation ul.main_nav > li.active {
  border-bottom: 3px solid #e1e4e8;
}

.nav_block.db_navigation ul.main_nav > li.active > a {
  color: #212121;
  font-weight: 600;
}

header.db_header_wrap {
  position: relative;
}

.header_dashboard {
  width: 100%;
  padding: 0;
  display: flex;
  align-items: flex-end;
  margin: 0;
  justify-content: space-between;
}

.header_dashboard .header_logo_nav {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 10px;
}

.header_dashboard .header_logo {
  margin-top: 0;
  margin-right: 20px;
}

.header_db_title {
  display: flex;
  align-items: center;
}

.header_db_title h4 {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  margin: 0;
  color: #212121;
}

.header_db_title_logo {
  margin-top: 5px;
}

.header_db_title_logo h6 {
  font-size: 16px;
  font-weight: 400;
  line-height: 17px;
  margin: 0;
  color: #212121;
}

.header_dashboard .header_right {
  padding-top: 15px;
  padding-bottom: 15px;
}

.header_dashboard .nav_btn_toggle {
  margin-left: 10px;
  margin-top: 4px;
}

.db_user_profile a {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #212121;
  display: flex;
  align-items: center;
}

.db_user_profile a > span {
  margin-right: 20px;
  display: inline-block;
}

.db_user_profile a > img {
  border-radius: 40px;
  height: 100%;
  width: 100%;
  max-width: 40px;
  max-height: 40px;
}

.db_customer_detail_wrap {
  padding: 0;
}

.db_full_block {
  display: flex;
  flex-flow: nowrap;
  align-items: flex-start;
  gap: 16px;
  padding: 0 20px 20px 20px;
  align-items: stretch;
}

.db_card {
  border: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  border-radius: 10px;
  flex: 1 0;
  padding: 0;
  margin: 0 0 20px 0;
  height: calc(100% - 20px);
}

.db_card_body {
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  min-height: 124px;
}

.db_card_body h4 {
  padding: 0 15px 0 0;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #212121;
}

.db_card_body p {
  padding: 0;
  margin: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #989898;
}

.db_card_body h2 {
  padding: 0;
  margin: 0;
  font-size: 32px;
  font-weight: 600;
  line-height: 38px;
  color: #212121;
}

.db_card_body h3 {
  padding: 0;
  margin: 0;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  color: #212121;
}

.db_icon_cal {
  padding: 8px;
  border-radius: 4px;
  background: #f2f5f6;
  height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.db_card_animate {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.db_card_animate:hover {
  -webkit-transform: translateY(calc(-1.5rem / 5));
  transform: translateY(calc(-1.5rem / 5));
}

.db_card_body .db_btn_chart {
  position: absolute;
  right: 0;
}

.db_btn_chart input {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #eaeaea;
  padding: 10px 9px;
  color: #000;
  font-size: 15px;
  max-width: 111px;
}

.db_btn_chart a {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  padding: 8px 16px;
  color: #212121;
}

.db_piechart_legend {
  display: inline-flex;
  align-items: flex-start;
  gap: 40px;
}

.db_piechart_legend_marker {
  min-width: 16px;
  min-height: 16px;
  border-radius: 4px;
}

.db_piechart_legend_col {
  display: flex;
  gap: 8px;
  align-items: center;
}

.db_piechart_legend_text {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.db_piechart_payment {
  display: inline-flex;
  align-items: flex-start;
  gap: 40px;
  width: 100%;
}

.db_piechart_payment_col {
  display: flex;
  gap: 1px;
  flex-direction: column;
  flex: 1 0;
}

.db_piechart_payment_marker {
  min-width: 16px;
  min-height: 16px;
  border-radius: 4px;
}

.db_piechart_payment_text {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}

.db_piechart_payment_col h2 {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  padding-left: 24px;
}

.db_table_block {
  width: 100%;
}

.db_table_block table.table thead th {
  background-color: #f2f5f6;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 24px;
  text-align: center;
  font-size: 14.208px;
  font-weight: 400;
  color: #666;
  border: 0;
}

.db_table_block table.table thead th.main_head_title {
  padding-left: 45px;
  text-align: left;
}

.db_table_block table.table tbody th.main_col_title {
  padding-top: 20px;
  padding-bottom: 25px;
  padding-right: 24px;
  padding-left: 45px;
  text-align: left;
  font-size: 14.208px;
  font-weight: 400;
  color: #989898;
  background: #fff;
  box-shadow: none;
  border: 0;
}

.db_table_block table.table tbody td {
  padding-top: 20px;
  padding-bottom: 25px;
  padding-right: 24px;
  text-align: center;
  font-size: 14.208px;
  font-weight: 400;
  color: #212121;
  background: #fff;
  box-shadow: none;
  border: 0;
}

.db_col_block {
  display: flex;
  flex-direction: column;
  flex: 1 0;
  gap: 16px;
}

.datepicker_input {
  position: absolute;
  background-color: "#BAB1E8";
  width: 30px;
  height: 30px;
  right: 0;
  top: -20px;
  opacity: 0;
  cursor: pointer;
}

.gloabl-inp {
  pointer-events: none;
  cursor: not-allowed;
}

.datePicker {
  z-index: 999 !important;
}

.chart_Box {
  width: 225px;
  max-width: 100%;
}

.not_Found {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header_dashboard .offcanvas {
  padding: 50px 15px 15px;
  max-width: 633px;
  width: 100%;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
  border: 0;
}

.header_dashboard .offcanvas button.btn-close {
  position: absolute;
  right: 15px;
  top: 0;
  cursor: pointer;
  float: right;
  width: auto;
  height: auto;
  padding: 0;
  margin: 0;
  background: none;
  opacity: 1;
}

.header_dashboard .offcanvas button.btn-close:focus {
  outline: none;
  box-shadow: none;
}

.header_dashboard .offcanvas .offcanvas-header {
  display: inline-block;
  padding: 0;
  margin: 0;
  width: 100%;
}

.header_dashboard .offcanvas .offcanvas-body {
  padding: 0;
}

.header_dashboard .offcanvas .nav_block {
  padding: 0 10%;
  width: 100%;
  display: block;
}

.header_dashboard .offcanvas .nav_block ul.main_nav {
  display: inline-block;
  width: 100%;
  list-style-type: none;
  text-align: left;
  padding: 0;
}

.header_dashboard .offcanvas .nav_block ul.main_nav li {
  display: block;
  list-style-type: none;
  text-align: left;
  padding: 14px 0;
  margin: 0 0 15px 0;
}

.header_dashboard .offcanvas .nav_block ul.main_nav > li.active {
  border-bottom: 3px solid #e1e4e8;
}

.header_dashboard .offcanvas .nav_block ul.main_nav li a {
  font-size: 36px;
  line-height: 37px;
  color: #000;
  font-weight: 600;
}

.header_dashboard .offcanvas .nav_block ul.main_nav > li.active a {
  color: #212121;
}

.db_customer_detail_wrap .db_icon_cal .DatePicker input.datepicker_input {
  width: 24px;
  height: 24px;
  padding: 0;
  margin: 0;
  top: 0;
  border: 0;
  position: relative;
}

.db_customer_detail_wrap .db_icon_cal .DatePicker {
  position: absolute;
  width: 24px;
  height: 24px;
  z-index: 2;
  left: 8px;
}

/* .db_customer_detail_wrap .db_icon_cal {
  position: absolute;
  right: 16px;
  top: 16px;
} */

.header_dashboard .offcanvas-backdrop {
  display: none;
}

.spinner-border {
  margin-left: 11px;
}

.btn_login {
  display: inline-flex;
  height: 40px;
  margin: 0;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  text-align: center;
  border: 0;
  background: var(--black);
  color: var(--white);
  text-decoration: none;
  position: relative;
  cursor: pointer;
  padding: 8px 20px;
  min-width: 170px;
}

.btn_login:hover {
  color: var(--white);
  background: var(--gray-600);
  text-decoration: none;
}

.db_table_country {
  max-height: 400px;
  overflow-y: auto;
}
.db_table_block.db_table_country table.table tbody td {
  padding-left: 45px;
  text-align: left;
}
.offcanvas-open {
  overflow: unset !important;
}

.iconWrapper {display:flex;gap: 8px; position: relative;}

.db_table_block table.table tbody .conversion-highlighter th.main_col_title, 
.db_table_block table.table tbody .conversion-highlighter td {
  font-weight: 700;
  border-bottom: 1px solid var(--gray-light-300);
}

.db_table_block table.table tbody .conversion-highlighter th.main_col_title {
  color: var(--black-150) 
}

.multiselect-container .search-wrapper {
  height: 45px;
  overflow-y: auto
}

.multiselect-container .search-wrapper input.searchBox {
  margin-top: 0;
}

/** profile **/
.header_dashboard.profile_head {
  align-items: center;  
  padding-bottom: 10px;
}
.profile_head .header_logo {
  display: flex;
  align-items: center;
  margin-right: 0;
}
.profile_head .header_logo .navbar_brand {
  margin-right: 20px;
}
.profile_head .header_logo_nav {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 0;
}
.profile_head .header_logo .header_db_title_logo {
  margin-top: 0;
}
.profile_head .header_right {
  padding-top: 10px;
  padding-bottom: 10px;
}
.user_profile_block {
  display: flex;
  padding: 15px 0px;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  margin: 0;
  float: left;
  width: 100%;
  position: relative;
}
.user_profile_pic {
  width: 40px;
  height: 40px;
  display: inline-block;
  margin-right: 20px;
}
.user_profile_pic img {
  border-radius: 50%;
  height: 40px;
  object-fit: cover;
  object-position: center;
  width: 40px;
}
.user_profile_detail {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 130px;
  flex: auto;
}
.user_profile_name {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  color: #212121;
  width: 100%;
  display: inline-block;
}
.user_profile_sub {
  font-size: 16px;
  font-weight: 600;
  line-height: 19px ;
  color: #212121;
  width: 100%;
  display: inline-block;
}
.user_profile_address {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.user_profile_adrs_title {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #666;
}
.user_profile_adrs_sub {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #666;
}
.user_profile_link {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.db_main_info_col {
  display: flex;
  padding: 0;
  margin: 0;
  width: 100%;
  position: relative;
  border-radius: 8px;
  border: 1px solid #E1E4E8;
  background: #FFF;
  flex-direction: column;
  margin-bottom: 15px;
}

.db_main_info_head {
  border-bottom: 1px solid #E1E4E8;
  padding: 28px 32px 22px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul.head_status_block {
  display: inline-flex;
  align-items: center;
  gap: 24px;
  margin: 0;
  padding: 0;
}

ul.head_status_block li {
  display: flex;
  align-items: center;
  gap: 8px;
}

ul.head_status_block li .head_status_label {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #666;
}
ul.head_status_block li .head_status_date {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: #000;
}
.profile_info_col_wrap {
  display: flex;
  align-items: flex-start;
  padding: 32px 32px;
  width: 100%;
}
.profile_personal_info {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 50%;
  padding-right: 53px;
}
.profile_other_info {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 50%;
  padding-left: 53px;
}
.profile_personal_info_col {
  display: flex;
  align-items: flex-start;
  gap: 40px;
  flex-direction: column;
  width: 100%;
}
.profile_personal_info_col ul.profile_info_list {
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
}
.profile_personal_label {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  color: #212121;
  width: 100%;
  display: inline-block;
  margin: 0 0 24px 0;
}

.profile_personal_info_col ul.profile_info_list li {
  width: 33.333%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.profile_personal_info_col ul.profile_info_list li label {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #666;
}
.profile_personal_info_col ul.profile_info_list li .profile_list_desc {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: #000;
  display: flex;
  align-items: center;
}
.password_blocker {
  display: flex;
  height: 21px;
}
.profile_other_info_col {
  display: flex;
  align-items: flex-start;
  gap: 40px;
  flex-direction: column;
  width: 100%;
}
.profile_other_info_col ul.profile_info_list {
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
}
.profile_other_info_col ul.profile_info_list li {
  width: 33.333%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.profile_other_info_col ul.profile_info_list li label {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #666;
}
.profile_other_info_col ul.profile_info_list li .profile_list_desc {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: #000;
  display: flex;
  align-items: center;
}

.studio_profile_details {
  display: flex;
  margin: 0;
  position: relative;
  padding: 24px;
  flex-direction: row;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid #E1E4E8;
  background: #FFF;
  align-items: center;
}

.studio_profile_pic {
  display: flex;
  padding: 10px;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 6px;
  background: #F8F8F8
}
.studio_profile_name {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #212121;
  width: 100%;
  display: inline-block;
}
.studio_profile_sub {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #666;
}
.db_tab_block {
  position: relative;
}

.db_tab_block .react-tabs__tab-list {
  margin: 0;
  padding: 15px 0;
  border: 0;
  display: flex;
  align-items: flex-start;
  flex-flow: wrap;
  gap: 10px;
}
.db_tab_block .react-tabs__tab-list .react-tabs__tab {
  padding: 8px 12px;
  border-radius: 10px;
  border: 1px solid #1C1C1C;
  background: #FFF;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #212121;
}
.db_tab_block .react-tabs__tab-list .react-tabs__tab--selected {
  border: 1px solid #1C1C1C;
  background: #1C1C1C;
  color: #fff;
}
.db_tab_block .react-tabs__tab-list .react-tabs__tab:hover {
  border: 1px solid #1C1C1C;
  background: #1C1C1C;
  color: #fff;
}
.db_tab_block .react-tabs__tab-list .react-tabs__tab--selected:after {
  display: none;
}

.btn_public {
  padding: 6px 8px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  height: auto;
}
.status_indicator {
  display: flex;
  padding: 4px 16px;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}


@media screen and (max-width: 1199px) {
  .header_dashboard .nav_block.db_navigation {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .header_dashboard .nav_btn_toggle {
    display: none;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  header .nav_block {
    display: inline-block;
  }
}

@media screen and (max-width: 767.98px) {
  .header_dashboard {
    align-items: center;
  }

  .header_db_title h4 {
    font-size: 17px;
    line-height: 24px;
  }

  .db_customer_detail_wrap {
    padding: 0;
  }

  .header_dashboard .offcanvas .nav_block ul.main_nav li {
    padding: 14px 0;
    margin: 0 0 15px 0;
  }

  .header_dashboard .offcanvas .nav_block ul.main_nav li a {
    font-size: 24px;
    line-height: 24px;
  }

  .header_dashboard .offcanvas button.btn-close img {
    width: 24px;
    height: 24px;
  }

  .header_dashboard .offcanvas button.btn-close {
    right: 15px;
    top: 15px;
  }

  .header_dashboard .offcanvas .nav_block {
    padding: 0 5%;
  }

  .header_dashboard .offcanvas {
    width: 100%;
    max-width: 100%;
  }
}

@media screen and (max-width: 699px) {
  .not_Found {
    position: relative;
    text-align: center;
    top: 0;
    left: 0;
    transform: inherit;
  }
}
@media screen and (max-width: 640px) {
  .m_flex_wrap_xs {
    flex-wrap: wrap !important;
  }

  .m_pt_10_xs {
    padding-top: 10px !important;
  }
}

@media screen and (max-width: 560px) {
  .header_dashboard .header_right .db_user_profile {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .header_dashboard .header_right .db_user_profile > span {
    margin-bottom: 5px;
  }

  .header_dashboard .db_user_profile button.btn_secondary {
    padding-left: 10px;
    padding-right: 10px;
    height: 36px;
    font-size: 14px;
    margin-left: 0 !important;
    width: 100px;
  }
}

@media screen and (max-width: 460px) {
  .db_piechart_payment {
    flex-direction: column;
  }
}
