/* button */
.button_primary {
  display: inline-flex;
  height: 48px;
  padding: 8px 20px 8px 20px;
  margin: 0;
  justify-content: center;
  align-items: center;
  border-radius: 0px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  border: 0;
  background: var(--black);
  color: var(--white);
  text-decoration: none;
  position: relative;
  cursor: pointer;
}

.button_primary:hover {
  color: var(--white);
  background: var(--gray-600);
  text-decoration: none;
}

.button_primary:focus-visible {
  color: var(--white);
  background: var(--gray-600);
  text-decoration: none;
}

.button_primary_outline {
  display: inline-flex;
  height: 48px;
  padding: 8px 20px 8px 20px;
  margin: 0;
  justify-content: center;
  align-items: center;
  border-radius: 0px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  border: 1px solid var(--black-500);
  background: transparent;
  color: var(--black-500);
  text-decoration: none;
  position: relative;
  cursor: pointer;
}

.button_primary_outline:hover {
  color: var(--gray-400);
  background: transparent;
  border: 1px solid var(--gray-400);
  text-decoration: none;
}

.button_primary_outline:focus-visible {
  color: var(--gray-400);
  background: transparent;
  border: 1px solid var(--gray-400);
  text-decoration: none;
}

.button_primary_white {
  background: var(--white);
  color: var(--black-500);
}

button:disabled {
  background-color: var(--gray-light-150);
  color: #D9D9D9;
  border-color: var(--gray-light-150);
  pointer-events: none;
}

button:disabled:hover {
  background-color: var(--gray-light-150);
  color: #D9D9D9;
  border-color: var(--gray-light-150);
}

/* button style end  */

/* Side Drawer */
.home .sideDrawer {
  top: 42px;
}

.home .drawer-sticky {
  top: 0
}

.drawer-header {
  padding: 18px 40px 0px 40px;
}

.sideDrawer {
  background: #fff;
  position: fixed;
  height: 100%;
  z-index: 99;
  right: 0;
  max-width: 633px;
  width: 100%;
}

.menuList ul {
  padding: 0px 40px;
  margin: 82px 0 0 0;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.menuList li {
  display: block;
  list-style-type: none;
  text-align: left;
  padding: 0;
}

.menuList li a {
  font-size: 26px;
  line-height: 31px;
  color: #000;
  font-weight: 400;
}

.closeWrapper {
  color: transparent;
  right: 60px;
  top: 23px;
  cursor: pointer;
}

.drawerBottom {
  position: fixed;
  bottom: 0px;
  padding: 32px 40px 24px 40px;
  background-color: var(--white);
  float: left;
  width: 100%;
  border-top: 1px solid #F2F5F6;
}

/* Side Drawer */

.banner_block {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
  align-items: stretch;
}

.banner_col {
  display: flex;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
  min-height: 714px;
  padding: 0;
}

.banner_img_wrap {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-color: #fff;
  overflow: hidden;
}

.banner_img {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.banner_img img {
  max-width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.banner_caption {
  display: flex;
  margin-left: 0;
  margin-right: auto;
  align-items: center;
  justify-content: flex-start;
  padding: 10vh 60px;
  position: relative;
}

.banner_caption h1 {
  text-align: left;
  word-wrap: break-word;
}

.banner_caption p {
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
}

/* custom list view */
ul.custom_list_view {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
  flex-flow: wrap;
}

ul.custom_list_view li {
  display: flex;
  margin: 0;
  color: #212121;
  font-size: 22px;
  font-weight: 600;
  line-height: 27px;
  align-items: center;
  position: relative;
  margin-right: 16px;
  padding-right: 8px;
  margin-bottom: 24px;
}

ul.custom_list_view li:after {
  content: "";
  background-color: #989898;
  height: 23px;
  width: 1px;
  position: absolute;
  right: 0;
  top: 6px;
}

ul.custom_list_view li:last-child:after {
  display: none;
}

ul.custom_list_view li:last-child {
  margin-right: 0;
  padding-right: 0;
}

ul.custom_list_view li img {
  margin-right: 23px;
  position: relative;
  top: 1px;
}

.more_link {
  font-size: 18px;
  font-weight: 600;
  line-height: 21px;
  color: #212121;
  text-decoration: underline;
  text-transform: uppercase;
  cursor: pointer;
}

/* main slider */
.main_slider {
  float: left;
  width: 100%;
}

.main_slider .custom_slider {
  height: 100%;
}

.slider_nav_arrows .slick-arrow {
  position: absolute;
}

.slider_nav_arrows .slick-arrow.slick-next,
.slider_nav_arrows .slick-arrow.slick-prev {
  width: 24px;
  height: 24px;
  left: auto;
}

.slider_nav_arrows .slick-arrow.slick-next {
  right: 16px;
  top: -30px;
}

.slider_nav_arrows .slick-arrow.slick-prev {
  right: 46px;
  top: -30px;
}

.slider_nav_arrows .slick-arrow.slick-next:before,
.slider_nav_arrows .slick-arrow.slick-prev:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("/icon_arrow_right.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.slider_nav_arrows .slick-arrow.slick-prev:before {
  background-image: url("/icon_arrow_left.svg");
  background-repeat: no-repeat;
}

.main_slider .custom_slider .slick-track {
  margin-left: 0;
  margin-right: 0;
  height: 100%;
}

.main_slider .custom_slider .slick-track .slick-slide {
  display: flex;
  flex-flow: column;
  padding-bottom: 0;
  height: auto;
}

.main_slider .custom_slider .slick-track .slick-slide>div {
  height: 100%;
  display: flex;
}

.main_slider .custom_slider .slick-track .slick-slide .listing_gridItem {
  padding-left: 0;
  position: relative;
  height: 100%;
}

.main_slider .custom_slider .slick-track .slick-slide .listing_gridItem a {
  display: flex;
  flex-direction: column;
  padding: 0;
  height: 100%;
}

.main_slider .custom_slider .slick-track .slick-slide .listing_gridItem .listing_grid_img_col {
  width: 100%;
  overflow: hidden;
  height: 100%;
}

.main_slider .custom_slider .slick-track .slick-slide .listing_gridItem .listing_grid_img_col img {
  object-fit: cover;
  aspect-ratio: 1 / 1;
  width: 100% !important;
  /*height: revert-layer!important;*/
}

.main_slider .custom_slider.custom_square_slider .slick-slide .listing_gridItem .listing_grid_img_col img {
  height: 100% !important;
}

/* main slider end */


.list_title {
  padding: 20px 0 0 0;
  text-align: left;
  color: #212121;
  font-size: 20px;
  font-weight: 700;
  line-height: 21px
}

.mobile_app_list {
  list-style: none;
  margin: 0;
  height: 100%;
  display: flex;
  width: 100%;
  padding: 0 20px;
}

.mobile_app_list li {
  height: 100%;
  width: 100%;
  padding-left: 0;
  display: flex;
}

.mobile_app_list li img {
  max-width: 100%;
  object-fit: contain;
  object-position: bottom;
}

/* klarna accordion */
.klarna_pay_opt_grid {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-column-gap: 68px;
  grid-row-gap: 68px;
  margin-bottom: 32px;
}

.klarna_pay_opt_items {
  display: flex;
  padding: 24px 24px;
  flex-direction: column;
  min-height: 227px;
}

.klarna_pay_opt_badge {
  display: flex;
  align-items: center;
}

.klarna_pay_opt_badge img {
  margin-right: 10px;
}

.klarna_pay_opt_label {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
}

.klarna_pay_terms p {
  color: #666;
  font-size: 14px;
  font-style: italic;
  font-weight: 300;
  line-height: 21px;
  margin: 0;
}

.klarna_pay_terms p a {
  color: #2d61c9;
  font-size: 14px;
  font-style: italic;
  font-weight: 300;
  line-height: 21px;
  text-decoration: underline;
}

.klarna_pay_terms p a:hover {
  text-decoration: none;
}

.klarna_works_block {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-column-gap: 31px;
  grid-row-gap: 60px;
  margin-bottom: 0;
}

.klarna_works_items {
  display: flex;
  padding: 0;
  flex-direction: column;
  text-align: left;
  align-items: flex-start;
}

.klarna_works_block .klarna_works_items {
  border-right: 1px solid #E1E4E8;
  padding-right: 30px;
}

.klarna_works_block .klarna_works_items:nth-child(3n) {
  border-right: 0;
  padding-right: 0px;
}

.klarna_num_count {
  display: flex;
  width: 40px;
  height: 40px;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: 2px solid var(--gray-light-300);
  background: #fff;
  font-size: 24px;
  font-weight: 800;
  line-height: 29px;
}

.klarna_works_accordion .accordion {
  border: 0;
  padding: 0;
  background: transparent;
}

.klarna_works_accordion .accordion .accordion__item {
  padding-bottom: 16px;
}

.klarna_works_accordion .klarna_works_items .accordion__button {
  background-color: transparent;
  display: flex;
  padding: 24px 0 0 0;
  align-items: flex-start;
  position: relative;
}

.klarna_works_accordion .klarna_works_items .accordion__button:before {
  display: none;
}

.klarna_works_accordion .klarna_works_items .accordion__button:after {
  content: "";
  width: 22px;
  height: 22px;
  position: absolute;
  right: 0;
  top: 30px;
  background: url("/accordion_down_arrow.svg") no-repeat;
}

.klarna_works_accordion .klarna_works_items .accordion__button[aria-expanded="true"]:after,
.klarna_works_accordion .klarna_works_items .accordion__button[aria-selected="true"]:after {
  background: url("/accordion_up_arrow.svg") no-repeat;
}

.klarna_works_accordion .klarna_works_items .klarna_num_count {
  width: 24px;
  height: 24px;
  padding: 0px 6px;
  font-size: 14px;
  line-height: 17px;
  margin: 0 8px 0 0;
}

.klarna_works_accordion .klarna_works_items h4 {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
}

.klarna_works_accordion .accordion .accordion__panel p {
  font-size: 14px;
  font-weight: 300;
  line-height: 21px;
  margin: 10px 0 0 0;
}

.klarna_works_accordion .accordion .accordion__item+.accordion__item {
  border-top: 1px solid var(--gray-light-300);
}

.klarna_works_accordion .accordion .accordion__item:last-child {
  border-bottom: 1px solid var(--gray-light-300);
}

.artist_mid_img_block {
  min-height: 625px;
  max-height: 625px;
}

.artist_mid_img_block img {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 0;
  height: auto;
  max-height: 581px;
  object-fit: contain;
  object-position: bottom;
}

.main_slider.slider_rectangle_shape .custom_slider .slick-track .slick-slide .listing_gridItem .listing_grid_img_col img {
  aspect-ratio: 7 / 8;
  height: auto !important;
}

.mid_img_block img {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 0;
  padding-left: 20px;
  padding-right: 20px;
  height: auto;
  object-fit: contain;
  object-position: bottom;
}

/* popup design */
.popup_wrap {
  height: 100%;
}

.popup_wrap .close_button {
  position: absolute;
  right: 9px;
  top: 12px;
  z-index: 1;
  border: 0;
  background-color: transparent;
  padding: 0;
}

.popup_wrap .popup_container {
  width: 100%;
  height: 100%;
  position: relative;
  margin: auto auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.popup_wrap .popup_box_inner {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
}

.popup_wrap .popup_box_inner .popup_left {
  position: relative;
  width: 50%;
  display: inline-flex;
  border-radius: 0;
}

.popup_wrap .popup_box_inner .popup_right {
  width: 50%;
  padding: 0;
  display: flex;
  margin: 0;
  align-items: flex-start;
  position: relative;
  background-color: #fff;
  border-radius: 0px;
}

.popup_wrap .popup_box_inner .popup_right_content {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  padding: 35px 0 35px 32px;
}

.popup_wrap .popup_box_inner .popup_logo {
  display: flex;
}

.popup_wrap .popup_box_inner .popup_content_wrap {
  margin: auto 0 0 0;
  width: 100%;
  display: inline-block;
}

.popup_wrap .popup_box_inner .popup_content_wrap h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -1.6px;
  color: #000;
  margin-bottom: 35px;
}

.popup_wrap .popup_box_inner ul.download_app {
  display: inline-block;
  margin: 0;
}

.popup_wrap .popup_box_inner ul.download_app li.download_app_title h6 {
  color: #666666;
  text-align: left;
}

/* request form popup */
.reqst_form_popup {
  max-height: 578px;
}

.reqst_form_popup .popup_container {
  top: inherit;
}

/* coming soon popup */
.popup_wrap .popup_box_inner .popup_coming_soon {
  width: 100%;
  max-width: 560px;
  padding: 0;
  display: flex;
  margin: 0;
  align-items: flex-start;
  position: relative;
  background-color: #fff;
  border-radius: 16px;
}

.popup_wrap .popup_box_inner .popup_coming_soon_content {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  padding: 40px 30px;
}

/* language popup */
.language_popup {
  background-color: #fff;
  padding: 25px 32px 32px 32px;
  border-radius: 16px;
  position: relative;
}

.popup_wrap .language_popup .close_button {
  top: 40px;
  right: 37px;
}

.language_popup_block {
  max-height: 482px;
  overflow-y: auto;
  padding-right: 5px;
  margin-top: 24px;
}

.language_popup h3 {
  color: #212121;
  font-size: 38px;
  font-weight: 800;
  line-height: 46px;
  margin-bottom: 8px;
  padding-right: 30px;
}

.language_popup p {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: #212121;
  margin: 0;
}

.language_popup ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(214px, 1fr));
  grid-gap: 16px;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.language_popup ul li {
  position: relative;
  display: flex;
  margin: 0;
  padding: 0;
  transition: all 0.3s;
  border: 0;
}

.language_popup ul li button {
  margin: 0;
  width: 100%;
  border: 1px solid #E1E4E8;
  border-radius: 4px;
  display: flex;
  align-items: center;
  text-align: left;
  position: relative;
  min-height: 67px;
  padding-left: 8px;
  padding-right: 38px;
  padding-top: 0;
  padding-bottom: 0;
}

.language_popup ul li button span {
  margin-left: 19px;
  display: flex;
  flex-direction: column;
  min-height: 47px;
  justify-content: space-between;
}

.language_popup ul li button h4 {
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  color: #212121;
  padding: 0;
  margin: 0 0 5px 0;
}

.language_popup ul li button p {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #666;
  padding: 0;
  margin: 0;
}

.language_popup ul li button.activeCountry {
  border: 1px solid #000;
}

.language_popup ul li button.inActivecountry {
  border: 1px solid #eee;
}

.icon_language_link {
  position: absolute;
  right: 10px;
}

/* Join Artist */
ul.progressbar {
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
}

ul.progressbar li {
  display: inline-block;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  position: relative;
  margin: 0;
  text-align: left;
  padding: 0;
}

ul.progressbar li .progressbar_block {
  padding: 0 0 38px 80px;
  position: relative;
}

ul.progressbar li:last-child .progressbar_block {
  padding-bottom: 0;
}

ul.progressbar li .progressbar_block:before {
  content: "";
  width: 2px;
  display: inline-block;
  position: absolute;
  left: 23px;
  margin-top: 10px;
  z-index: 0;
  background: url("/dashed-border.svg") no-repeat;
  height: 100%;
}

ul.progressbar li:last-child .progressbar_block:before {
  display: none;
}

ul.progressbar li h4 {
  color: var(--black-500);
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  height: 100%;
  display: inline-block;
  width: 100%;
  position: relative;
  text-align: left;
  margin: 0 0 8px 0;
}

ul.progressbar li p {
  color: var(--black-500);
  margin: 0 !important;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}

ul.progressbar li:before {
  content: none;
  background: rgba(195, 195, 195, 0.2);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  position: absolute;
  z-index: 1;
  left: 0;
}

ul.progressbar li:after {
  content: "";
  background: #f8f8f8 url("/dwld_icon.svg") no-repeat;
  background-size: 19px;
  background-position: center;
  width: 46px;
  height: 46px;
  border: 1px solid #e1e4e8;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  position: absolute;
  z-index: 2;
  left: 0px;
  top: -5px;
}

ul.progressbar li.dwld-app-step:after {
  background-image: url("/dwld_icon.svg");
}

ul.progressbar li.create-account-step:after {
  background-image: url("/create_user.svg");
}

ul.progressbar li.boost-account-step:after {
  background-image: url("/boostt.svg");
}

ul.progressbar li.active:before {
  background: rgba(76, 175, 80, 0.2);
}

ul.progressbar li.active:after {
  background: var(--green-800);
}

ul.progressbar li.completed:before {
  background: rgba(76, 175, 80, 0.2);
}

ul.progressbar li.completed:after {
  background: var(--green-800);
}

ul.progressbar li .progressbar_block .app_dwld_img_wrap {
  margin-bottom: 6px;
}

/* radio button */
form.form_block .form_group.radio_block>label {
  position: relative;
  pointer-events: auto;
  left: inherit;
  padding: 0 0 0 30px;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: var(--black-500);
  margin-right: 5px;
  height: auto;
  cursor: pointer;
}

.radio_block .form_radio input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: var(--form-background);
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  border: 1px solid rgba(225, 228, 232, 1);
  border-radius: 50%;
  transform: translateY(-0.075em);
  position: absolute;
  left: 0;
  top: 5px;
  cursor: pointer;
}

.radio_block .form_radio input[type="radio"]:focus {
  border: 5px solid var(--black-500);
}

.radio_block .form_radio input[type="radio"]:before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
}

.radio_block .form_radio input[type="radio"]:checked {
  border: 5px solid var(--black-500);
}

.radio_block .form_radio input[type="radio"]:checked:before {
  transform: scale(1);
  background-color: var(--white);
}

.radio_form_grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}


/* contact form */
form.form_block .form_group {
  position: relative;
  margin-bottom: 20px;
}

form.form_block .form_group .form_control {
  background: none;
  border: 1px solid var(--gray-light-300);
  border-radius: 4px;
  height: 58px;
  padding: 8px 12px;
  font-size: 18px;
  line-height: 27px;
  color: var(--black-500);
  display: block;
  width: 100%;
  font-weight: 400;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

form.form_block .form_group textarea.form_control {
  height: auto;
  min-height: 98px;
  padding-top: 8px !important;
  resize: none;
}

form.form_block .form_group .form_control:focus,
form.form_block .form_group .form_control:not(:placeholder-shown) {
  box-shadow: none;
}

form.form_block .form_group .form_control::placeholder {
  color: var(--gray-300);
  opacity: 1;
}

form.form_block .form_group>label {
  padding: 1rem 0;
  pointer-events: none;
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  color: var(--gray-300);
  font-weight: 400;
}

form.form_block .radio_block.radio_form_grid {
  margin-bottom: 20px;
}

.required:after {
  content: "*";
  color: var(--gray-300);
  font-size: 16px;
  margin: 0;
  line-height: 24px;
}

div.error {
  font-size: 13px;
  color: #ff3e30;
  margin-top: 3px;
}

form.form_block .form_group div.error {
  font-size: 13px;
}

form.form_block .form_block:last-child .form_group {
  margin-bottom: 0;
}

form.form_block .radio_block.radio_form_grid+div.error {
  margin-bottom: 5px;
}


.form_submit_block {
  text-align: center;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.form_submit_block p {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  color: rgba(0, 0, 0, 0.6);
  padding: 0;
  margin: 0;
}

/* contact form end */

/* klarna donload page */
.klarna_download_payment_col .klarna_pay_opt_items {
  min-height: inherit;
  padding: 0 0 24px 0;
}

.klarna_download_payment_col .klarna_pay_opt_grid {
  grid-row-gap: 30px;
  margin-bottom: 20px;
}

/* download voucher page */
.exciting_offer_block {
  display: flex;
  padding: 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  width: auto;
  background: #fff;
  max-width: 520px;
  margin: 0 auto;
}

.exciting_offer_block .exciting_offer_wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex: 1 0 0;
  align-self: stretch;
  padding: 0;
  text-align: center;
}

.exciting_offer_block h3 {
  color: #212121;
  text-align: center;
  font-size: 38px;
  font-weight: 700;
  line-height: 45px;
  padding: 0;
  margin: 0 0 24px 0;
}

.exciting_offer_block .exciting_offer_price {
  position: relative;
  width: 100%;
  max-width: 466px;
  display: flex;
  text-align: center;
  margin: 0 0 24px 0;
}

.exciting_offer_block .exciting_offer_price h2.title_exciting_price {
  font-size: 60px;
  font-weight: 800;
  line-height: 72px;
  display: flex;
  min-height: 60px;
  justify-content: center;
  align-items: center;
  color: #212121;
  margin: 0;
  width: 100%;
  letter-spacing: -2.4px;
}

.exciting_offer_coupon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 100%;
  max-width: 320px;
  margin: 0 0 8px 0;
}

.exciting_offer_coupon>span {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--black-500);
}

.exciting_offer_coupon_code {
  display: flex;
  width: 100%;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 1px dashed var(--black-450);
  background: var(--gray-light-150);
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  color: var(--black-500);
  text-transform: uppercase;
}

.exciting_offer_block .exciting_offer_wrap h6 {
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  color: var(--gray-400);
  margin: 0 0 32px 0;
}



.qr-model {
  width: 100%;
  max-width: 666px;
  height: 536px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--white);
  padding: 40px 75px;
}

.qrimage-wrapper {
  border: 1px solid #E1E4E8;
  max-width: 238px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9.15px;
  height: 238px;
}

.qr-model .close_button {
  position: absolute;
  right: 0;
  top: 5px;
}

/* 404 page */
.page_error_wrap {
  min-height: 68vh;
  padding-top: 115px;
  padding-bottom: 115px;
}

.error_block {
  text-align: center;
}

.error_block .img_404 {
  max-width: 100%;
}

.error_block h1 {
  margin: 0;
  color: #212121;
  font-size: 32px;
  font-weight: 900;
  line-height: 48px
}

.error_block p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #000;
  margin: 0;
  padding: 10px 0 25px 0;
}

.error_block a.btn_secondary {
  padding: 8px 16px;
  height: 43px;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
}


/* responsive */
@media only screen and (min-device-width: 768px) and (max-device-width:991px) and (orientation:portrait) {
  .klarna_payment_img_col {
    display: none
  }

  .klarna_payment_txt_col {
    width: 100%;
  }

  .klarna_payment_txt_col>div {
    padding-left: 0px !important;
  }

  .klarna_pay_terms {
    padding-top: 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 940px) {
  .artist_mid_img_block img {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991.98px) {
  .klarna_works_block {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .klarna_works_block .klarna_works_items:nth-child(odd) {
    border-right: 1px solid #E1E4E8;
    padding-right: 30px;
  }

  .klarna_works_block .klarna_works_items:nth-child(even) {
    border-right: 0;
    padding-right: 0px;
  }

  ul.progressbar li .progressbar_block:before {
    padding-left: 50px;
  }

  /* popup design */
  .popup_wrap.explore_feature_app_popup {
    padding-left: 15px;
    padding-right: 15px;
  }

  .popup_wrap.explore_feature_app_popup .popup_content_wrap {
    padding-right: 15px;
  }

  .popup_wrap.custom_popup_design {
    padding-left: 15px;
    padding-right: 15px;
  }

}

@media screen and (min-width: 768px) {
  .sideDrawer {
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
  }

  .main_slider .custom_slider {
    margin-right: -14px;
  }

  .main_slider .custom_slider .slick-track .slick-slide .listing_gridItem {
    padding-right: 16px;
  }

  .klarna_works_accordion .klarna_works_items .accordion__button {
    flex-direction: column;
    padding-top: 0;
    margin-top: 32px;
    padding-right: 27px;
  }

  .klarna_works_accordion .accordion__item:first-child .klarna_works_items .accordion__button {
    padding-top: 0;
    margin-top: 0;
  }

  .klarna_works_accordion .klarna_works_items .accordion__button:after {
    top: 45px;
  }

  .klarna_works_accordion .accordion .accordion__panel {
    padding: 0;
  }

  .overlap_first .col-md-6:first-child {
    width: 52%;
  }

  .overlap_first .col-md-6:last-child {
    width: 48%;
  }

  .overlap_second .col-md-6:first-child {
    width: 48%;
  }

  .overlap_second .col-md-6:last-child {
    width: 52%;
  }

  /* popup */
  .join_artist_popup.popup_wrap {
    max-height: 564px;
  }

  .join_artist_popup.popup_wrap .close_button {
    right: 16px;
    top: 16px;
  }

  .join_artist_popup.popup_wrap .popup_box_inner .popup_right_content {
    padding: 70px 40px;
  }

  .join_artist_popup.popup_wrap .popup_box_inner .popup_left {
    overflow: hidden;
    max-width: 398px;
    width: 100%;
  }

  .join_artist_popup.popup_wrap .popup_box_inner .popup_right {
    max-width: 423px;
    width: 100%;
  }

  .join_artist_popup ul.progressbar li .progressbar_block {
    padding: 0 0 24px 48px;
  }

  .join_artist_popup ul.progressbar li:after {
    width: 32px;
    height: 32px;
    background-size: 16px;
    top: 0px;
  }

  .join_artist_popup ul.progressbar li .progressbar_block:before {
    left: 16px;
  }

  .join_artist_popup ul.progressbar li h4 {
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 4px;
  }

  .join_artist_popup ul.progressbar li p {
    font-size: 16px;
    line-height: 24px;
  }

  .join_artist_popup .app_dwld_img_wrap img {
    height: 32px;
  }
}

@media screen and (max-width: 767.98px) {
  .home .sideDrawer {
    top: 41px;
  }

  .home .drawer-sticky {
    top: 0 !important
  }

  .sideDrawer {
    max-width: 100%;
    width: 100%;
  }

  .closeWrapper img {
    width: 24px;
    height: 24px;
  }

  .drawer-header {
    padding: 18px 15px 15px 15px;
  }

  .drawerBottom {
    padding: 20px 15px;
    bottom: 0px;
  }

  .menuList {
    padding-bottom: 89px;
    height: calc(100% - 155px);
    overflow-y: auto;
  }

  .menuList ul {
    padding: 0px 15px 15px 15px;
    margin-top: 50px;
    gap: 24px;
  }

  .menuList li a {
    font-size: 22px;
    line-height: 22px;
  }

  .banner_mob_fit {
    height: calc(100vh - 110px) !important;
    max-height: 742px !important;
  }

  .banner_caption {
    align-items: flex-end;
    padding: 0 15px 58px 15px;
  }

  .banner_caption p {
    font-size: 14px;
    line-height: 21px;
  }

  .banner_caption:before {
    display: none;
  }

  .main_slider .custom_slider .slick-track .slick-slide .listing_gridItem .listing_grid_img_col img {
    height: 100% !important;
  }

  ul.custom_list_view {
    justify-content: flex-start;
    flex-direction: column;
  }

  ul.custom_list_view li:after {
    display: none;
  }

  ul.custom_list_view li {
    margin-right: 0;
    text-align: left;
    font-size: 16px;
    line-height: 19px;
    padding-right: 0;
    width: 100%;
    margin-bottom: 15px;
  }

  ul.custom_list_view li img {
    width: 24px;
    height: 24px;
  }

  .more_link {
    margin-bottom: 10px;
  }

  .klarna_banner_button img {
    width: 70px;
    height: auto;
  }

  .klarna_pay_opt_grid {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    grid-column-gap: 0;
    grid-row-gap: 0;
    margin-bottom: 0;
  }

  .klarna_pay_opt_items {
    padding: 24px 0;
    min-height: inherit;
    border: 0;
    border-bottom: 1px solid var(--gray-light-300);
  }

  .klarna_pay_opt_grid .klarna_pay_opt_items:last-child {
    border-bottom: 0;
  }

  .klarna_pay_opt_label {
    font-size: 14px;
    line-height: 21px;
  }

  .klarna_pay_terms p {
    font-size: 12px;
    line-height: 18px;
  }

  .klarna_works_accordion .accordion .accordion__item {
    padding-bottom: 24px;
  }

  .klarna_works_accordion .accordion__item .accordion__panel {
    padding: 8px 0 0 26px;
  }

  .klarna_works_accordion .accordion__item .accordion__panel p {
    margin: 0;
    font-weight: 400;
  }

  .klarna_works_accordion .klarna_works_items .klarna_num_count {
    width: 18px;
    height: 18px;
    padding: 0px 4px;
    font-size: 12px;
    line-height: 15px;
    font-weight: 600;
  }

  .klarna_works_accordion .klarna_works_items .accordion__button {
    align-items: center;
  }

  .artist_mid_img_block {
    min-height: 307px;
    max-height: 307px;
  }

  .artist_mid_img_block img {
    max-height: 285px;
    width: auto;
  }

  ul.progressbar li .progressbar_block:before {
    padding-left: 34px;
    left: 16px;
  }

  ul.progressbar li:after {
    background-size: 16px;
    width: 32px;
    height: 32px;
    top: 0px;
  }

  ul.progressbar li .progressbar_block {
    padding: 0px 0 38px 48px;
    position: relative;
  }

  ul.progressbar li h4 {
    font-size: 20px;
    line-height: 30px;
  }

  ul.progressbar li p {
    font-size: 14px !important;
    line-height: 21px !important;
  }

  /* .popup_wrap.custom_popup_design .popup_box_inner .popup_right {
  border-radius: 16px;
} */
  .popup_wrap.custom_popup_design .popup_container {
    top: inherit;
  }

  .popup_wrap.custom_popup_design .popup_container .popup_box_inner {
    justify-content: center;
  }

  .popup_wrap.custom_popup_design {
    padding-left: 15px;
    padding-right: 15px;
  }

  /* popup design */
  .popup_wrap .popup_box_inner {
    flex-direction: column;
  }

  .popup_wrap .popup_box_inner .popup_left {
    width: 100%;
  }

  .popup_wrap .popup_box_inner .popup_right {
    width: 100%;
  }

  .popup_wrap .popup_box_inner .popup_logo {
    margin-bottom: 40px;
  }

  .popup_wrap .popup_box_inner .popup_right_content {
    padding-left: 16px;
    padding-right: 16px;
  }

  .popup_wrap .popup_box_inner .popup_content_wrap h2 {
    font-size: 34px;
    line-height: 35px;
    letter-spacing: -1.379px;
    margin-bottom: 32px;
  }

  .popup_wrap .popup_box_inner ul.download_app li.download_app_title h6 {
    font-size: 14px;
  }

  .popup_wrap .popup_box_inner ul.download_app li a img {
    max-width: 115px;
  }

  .popup_wrap.explore_feature_app_popup .popup_box_inner .popup_right {
    border-radius: 8px;
  }

  .popup_wrap.explore_feature_app_popup .popup_container {
    top: inherit;
  }

  .popup_wrap.explore_feature_app_popup .popup_container .popup_box_inner {
    justify-content: center;
  }

  .popup_wrap.explore_feature_app_popup {
    padding-left: 15px;
    padding-right: 15px;
  }

  /*.popup_wrap.custom_popup_design .popup_container {
    top: inherit;
  }

  .popup_wrap.custom_popup_design .popup_container .popup_box_inner {
    justify-content: center;
  }

  .popup_wrap.custom_popup_design {
    padding-left: 15px;
    padding-right: 15px;
  }*/

  .join_artist_popup.popup_wrap .close_button {
    right: 8px;
    top: 8px;
  }

  .join_artist_popup ul.progressbar .progressbar_block {
    padding-bottom: 25px;
  }

  .join_artist_popup ul.progressbar li h4 {
    font-weight: 700;
    margin-bottom: 4px;
  }

  .join_artist_popup ul.progressbar li p {
    font-weight: 400;
  }

  .language_popup {
    padding: 25px 16px 16px 16px;
    height: calc(100vh - 120px);
  }

  .language_popup_block {
    max-height: calc(100% - 135px);
  }

  .popup_wrap .language_popup .close_button {
    top: 8px;
    right: 8px;
  }

  .language_popup h3 {
    font-size: 24px;
    line-height: 28px;
    padding-right: 0;
  }

  .language_popup p {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
  }

  .language_popup ul li button h4 {
    font-size: 14px;
    line-height: 21px;
  }

  .language_popup ul li button p {
    font-size: 14px;
    line-height: 21px;
  }

  /* form */
  form.form_block .form_group.radio_block>label {
    font-size: 14px;
    line-height: 21px;
  }

  form.form_block .form_control,
  form.form_block .form_group .form_control {
    font-size: 14px;
    line-height: 21px;
  }

  .radio_block .form_radio input[type="radio"] {
    top: 2px;
  }

  form.form_block .form_group {
    margin-bottom: 16px;
  }

  form.form_block .radio_block.radio_form_grid {
    margin-bottom: 10px;
  }

  .form_submit_block p {
    font-size: 16px;
    line-height: 24px;
  }

  /* klarna donload page */
  .klarna_download_payment_col .klarna_pay_opt_items {
    padding: 24px 0;
  }

  .klarna_download_payment_col .klarna_pay_opt_grid {
    grid-row-gap: 0;
    margin-bottom: 0;
  }

  .exciting_offer_block {
    padding: 20px 20px;
    max-width: 100%;
  }

  .exciting_offer_block h3 {
    font-size: 26px;
    line-height: 31px;
  }

  .exciting_offer_block .exciting_offer_price {
    margin-bottom: 16px;
  }

  .exciting_offer_block .exciting_offer_price h2.title_exciting_price {
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -1.6px;
  }

  .exciting_offer_coupon>span {
    font-size: 14px;
    line-height: 21px;
  }

  .exciting_offer_coupon_code {
    font-size: 16px;
    line-height: 24px;
  }

  .exciting_offer_block .exciting_offer_wrap h6 {
    font-size: 12px;
  }

  .page_error_wrap .error_block img {
    max-width: 100%;
    height: auto;
  }

  .error_block h1 {
    font-size: 28px;
    line-height: 40px;
  }

  .error_block p {
    font-size: 14px;
    line-height: 21px;
  }

}

@media screen and (min-width: 601px) and (max-width: 767.98px) {
  .main_slider .custom_slider {
    margin-right: -11px;
  }

  .main_slider .custom_slider .slick-track .slick-slide .listing_gridItem {
    padding-right: 12px;
  }
}

@media screen and (max-width: 600px) {
  .main_slider .custom_slider .slick-track {
    display: flex;
  }

  .main_slider .custom_slider .slick-track .slick-slide .listing_gridItem {
    padding-right: 12px;
  }

  .mob_slider_left_none .custom_slider .slick-track .slick-slide .listing_gridItem a {
    padding-right: 0px;
  }

  .main_slider .custom_slider.custom_m_single_slider .slick-slide .listing_gridItem {
    padding-right: 0;
  }

  .main_slider .custom_slider.custom_m_single_slider .slick-slide .listing_gridItem .listing_grid_img_col img {
    max-height: 240px;
  }

  .more_link {
    font-size: 14px;
    line-height: 17px;
    min-width: 65px;
    text-align: right;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-height:940px) and (orientation:landscape) {
  .language_popup {
    height: calc(100vh - 90px);
  }

  .language_popup_block {
    max-height: calc(100% - 80px);
  }
}

@media only screen and (max-device-height:845px) and (orientation:landscape) {
  .banner_mob_fit {
    min-height: 460px;
  }
}

@media screen and (min-width: 1200px) {
  section.progress_block {
    max-width: 475px;
  }
}

/*
@media (min-device-width: 768px) and (orientation:portrait) {
  .tab_orie_portrait{
    height: calc(100vh - 356px)!important;
  }
}
*/

@media only screen and (min-device-width: 768px) and (max-device-width: 1199px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  .tab_orie_portrait {
    height: calc(100vh - 356px) !important;
  }
}


@media only screen and (min-device-width: 768px) and (max-device-width: 1199px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .tab_orie_portrait {
    height: calc(100vh - 356px) !important;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1199px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  .tab_orie_portrait {
    height: calc(100vh - 356px) !important;
  }
}


@media screen and (device-width: 768px) and (device-height: 1199px) and (-webkit-min-device-pixel-ratio: 1.331) and (-webkit-max-device-pixel-ratio: 1.332) and (orientation: portrait) {
  .tab_orie_portrait {
    height: calc(100vh - 356px) !important;
  }
}