.request_land_body {
  height: 100vh;
}
.request_land_body > div {
  height: 100%;
}
.request_land_body > div > div {
  height: 100%;
}

.full_col_block .container {
  height: 100%;
}
.full_col_block .row {
  height: 100%;
}

.full_col_block {
  width: 100%;
  position: relative;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.full_col_banner {
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 0;
  position: absolute;
  z-index: -1;
}

.banner_fixed_block {
  width: 100%;
  height: 100%;
}

.banner_fixed_block:after {
  content: "";
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.80) 0%, rgba(0, 0, 0, 0.00) 113.37%);
  position: absolute;
  height: 100%;
  width: 100%;
}

.request_landing_block {
  display: flex;
  align-items: center;
  width: 100%;
  text-align: center;
  justify-content: center;
}
.request_stepper {
  display: flex;
  align-items: center;
  width: 100%;
  text-align: start;
  justify-content: center;
  max-width: 913px;
  margin: 0 auto;
  position: relative;
  top: 5px;
}

.request_stepper_item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: auto;
}

.request_stepper_item::before {
  position: absolute;
  content: "";
  border-bottom: 2px solid var(--gray-light-300);
  width: 100%;
  top: 0px;
  left: -50%;
  z-index: 2;
}

.request_stepper_item::after {
  position: absolute;
  content: "";
  border-bottom: 2px solid var(--gray-light-300);
  width: 100%;
  top: 0;
  left: 50%;
  z-index: 2;
}

.request_stepper_item .request_stepper_counter {
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: var(--white);
  top: -7px;
}

.request_stepper_item .request_stepper_name {
  color: var(--white);
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  height: 100%;
  display: inline-block;
  position: relative;
  text-align: center;
  cursor: pointer;
}

.request_stepper_item:first-child::before {
  content: none;
}

.request_stepper_item:last-child::after {
  content: none;
}

.request_landing_caption {
  margin-top: 55px;
}

.request_landing_caption h1 {
  text-align: center;
  font-size: 50px;
  font-weight: 600;
  line-height: 60px;
  margin: 0 0 15px;
  padding: 0;
  color: var(--white);
}

.request_landing_caption p {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: var(--white);
  margin: 0;
}

.request_back_arrow {
  position: absolute;
  top: 60px;
  left: 5.5vw;
  width: 44px;
  height: 44px;
  padding: 10px;
  border-radius: 60px;
  border: 1px solid var(--white);
  cursor: pointer;
}

.request_landing_header {
  background-color: var(--gray-light-150);
  padding: 32px 0;
}
.request_header_container {
  max-width: 913px;
  margin: 0 auto;
  min-height: 62px;
  display: flex;
  align-items: center;
}

.request_landing_content {
  display: flex;
  width: 100%;
  max-width: 790px;
  padding: 40px 80px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  border: 1px solid #ccc;
  border-radius: 16px;
  margin: 25px auto;
}
.request_landing_content_col {
  display: flex;
  flex-direction: column;
  min-height: 396px;
  justify-content: center;
}
.request_landing_content_col h2 {
  font-size: 32px;
  font-weight: 600;
  line-height: 38px;
  margin-bottom: 32px;
  text-align: center;
}
.request_list_item {
  display: flex;  
  gap: 10px;
  flex-flow: wrap;
  justify-content: center;
}
.request_list_item button {
  background: var(--white);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--black-500);
  margin: 0;
  width: auto;
  display: flex;
  min-width: 100px;
  height: 60px;
  padding: 10px 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid var(--gray-light-300);
}
.request_text_area {
  position: relative;
}
.request_text_area textarea {
  width: 100%;
  padding: 12px 12px;
  border-radius: 4px;
  border: 1px solid var(--gray-light-300);
  height: 151px;
}
.request_text_area button.btn_secondary {
  position: absolute;
  bottom: -57px;
  right: 0;
}
.request_landing_header .request_back_arrow { 
  top: 40px;
  border: 1px solid #707070;
}


.request_file_uploader {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.request_file_up_list {
  display: flex;
  border: 0;
  width: 180px;
  height: 180px;
  justify-content: center;
  align-items: center;
  gap: 17.241px;
  background-color: var(--gray-light-150);
  border-radius: 13.793px;
  cursor: pointer;
  position: relative;
}
.request_file_up_list input[type="file"] {
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.request_upload_field {
  height: 100%;
  width: 100%;
  position: relative;
}
.request_upload_field:after {
  content: "";
  width: 28px;
  height: 28px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto auto;
  background: url("/fileupload_add_square.svg") no-repeat;
}
.request_upload_img {
  height: 100%;
  width: 100%;
}
.request_upload_img .request_upload_close {
  border-radius: 6.643px;
  background: var(--black-500);
  position: absolute;  
  top: 12px;
  right: 12px;
  width: 32px;
  height: 32px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.request_upload_img .request_upload_close:hover {
  background: var(--gray-600);
}
.request_upload_img > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 8.078px;
}

.request_filter_wrap {
  width: 100%;
  margin: 16px 0;
  padding: 0;
}

.request_filter_col {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(188px, 1fr));
  grid-gap: 5px;
  position: relative;
}

.request_filter_grid {
  position: relative;
  padding: 0;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  height: 100%;
  width: 100%;
}

.request_filter_img {
  height: 100%;
  flex-basis: 100%;
  flex-grow: 0;
  max-width: 100%;
  position: relative;
  min-height: 189px;
}

.request_filter_dtls {
  bottom: 0;
  margin-top: 0;
  width: 100%;
  display: flex;
  padding: 8px;
  align-items: center;
  border-top: 0;
  position: absolute;
}

.request_filter_profile {
  width: 36px;
  min-width: 36px;
  height: 36px;
  min-height: 36px;
  margin: 0 5px 0 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #d3d3d3 -10.896px 2.989px / 133.789% 89.193% no-repeat;
  border: 1px solid #E1E4E8;
}

.request_filter_profile img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
}

.request_filter_profile_dtls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: self-start;
  padding: 0;
}

.request_filter_profile_dtls h6.request_filter_profile_title {
  margin: 0;
  line-height: 21px;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  display: block;
  max-width: 100%;
  word-break: break-word;
}

.request_filter_profile_dtls .request_filter_profile_address {
  margin: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 19px;
  color: #fff;
  text-align: left;
}
