.with_margin {
  margin-bottom: 20px;
}

.listGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 77px;
}

@media (max-width: 991px) {
  .listGrid {
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 0px;
  }

  .with_margin {
    margin-bottom: 30px;
  }

  .grid_mobileView {
    margin-bottom: 30px;
  }
}


